#css for coming soon page .main {
	margin-top: 0px;
	padding: 0px;
}

body {
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.left-menu {
	background-image: linear-gradient(
		-45deg,
		rgba(252, 95, 48, 1),
		rgba(255, 213, 32, 1)
	);
	height: 100vh;
	width: 25vw;
	font-family: "Open Sans";
	margin: 0px;
}
.right-contents {
	background-color: #122b4d;
	height: 100vh;
	width: 75vw;
	font-family: "Open Sans";
}
h1 {
	display: flex;
	justify-content: center;
}
hr {
	border: solid black 1px;
}
.contact-list {
	font-size: 14px;
	justify-content: center;
	margin-left: 45px;
	line-height: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.logo {
	display: flex;
	justify-content: center;
	margin-top: 150px;
	margin-bottom: 50px;
}
.logo-img {
	display: flex;
	height: 185px;
	width: 185px;
}
.center-text-one {
	display: flex;
	justify-content: center;
	color: blanchedalmond;
	font-size: xx-large;
	margin-bottom: 20px;
}
.center-text-two {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	color: blanchedalmond;
	font-size: xx-large;
}
.center-text-three {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	color: blanchedalmond;
	font-size: medium;
}

.social {
	display: flex;
	justify-content: center;
}

.social-icons {
	height: 40px;
	width: 40px;
	margin-right: 20px;
}

@media screen and (max-width: 1200px) {
	h1 {
		font-size: 30ox;
	}
	.contact-list {
		font-size: 12px;
		margin-left: 35px;
	}
}

@media screen and (max-width: 1015px) {
	.contact-list {
		font-size: 10px;
		margin-left: 25px;
	}
}

@media screen and (max-width: 830px) {
	.center-text-one {
		font-size: xx-large;
	}
	.center-text-two {
		font-size: large;
	}
	.center-text-three {
		font-size: medium;
	}
	h1 {
		font-size: 25px;
	}
	.contact-list {
		font-size: 8px;
		margin-left: 15px;
	}
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 20px;
	}
	.contact-list {
		font-size: 7px;
		margin-left: 15px;
	}
}
